//@import 'compass/reset'

@import 'shower/screen'

.slide
  background-image: none
.list
  background-image: image("vendor/shower/linen.png")

.caption p
  margin-top: -25px

.full
  .slide
    &:after
      left: 80px
      bottom: 37px
    &.shout
      z-index: 0
      &:after
        content: counter(paging, decimal-leading-zero)
      h2
        margin-top: -40px
        font-size: 90px

.slide ul > li
  list-style: none
